<div id="content-area">
	<% if !@user.nil? %>
		<div class="row">
			<div class="col-md-3 col-md-offset-1" style="margin-top:10px;">
				<div class="col-md-12">
					<div class="profile-wrapper">

						<p class="text-center">
					   	<strong class="user-profile"><%= @user.full_name %></strong>
					  </p>

						<div class="row">
							<div class="col-md-6">
								<p class="lbl">
									POST
								</p>
								<p class="lbl-counter">
									<%= @count %>
								</p>
							</div>
						</div>

					</div>
				</div>
			</div>


			<div class="col-md-7" style="margin-top:10px;">
				<div>
					<div class="col-md-12">
						<% if @user.posts.count > 0 %>
							<% @user.posts.reverse.each do |p| %>
								<div class="row">
									<div class="col-md-12">
										<div class="post-wrapper">

											<div class="dateposted">
												<small><%=format_date p.created_at %></small>
											</div>

											<div class="postbody">
											<%=h p.body %>
											</div>

										</div>
									</div>
								</div>
							<% end %>
						<% else %>
							<div class="row">
								<div class="col-md-12">
									<div class="row">
									<div class="col-md-12">
										<div class="post-wrapper">
											<div class="postbody" style="line-height: 40px;">
												<h3 class="text-center">No found post.</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						<% end %>
						
					</div>
				</div>
			</div>

		</div>
	<% else %>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="error-box">
					User not found!
					<br> <a href="/animal" class="btn btn-success">Goto List</a>
				</div>
			</div>
		</div>
	<% end %>
</div>